<section class="mt-10">
    <div class="container">
        <div class="content grid lg:grid-cols-2 grid-cols-1 items-center">
            <div class="left flex flex-col gap-4">
                    <p class="font-bold lg:text-5xl text-4xl uppercase">the next thing</p>
                    <p class="text-base font-normal">The core of SequeX trading engine, aggregators, and formulae set it apart from everything else. Thousands of traders' trading accounts were examined, and the results led us to the conclusion that traders lose money by taking on too much risk. To minimize the risks involved and increase the possible rewards, we developed SequeX Trading.</p>
            </div>

            <div class="right flex flex-row lg:justify-end justify-center">
                <img class="w-[80%]" src="assets/images/whats-hero.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="mt-16 mb-10">
    <div class="container">
        <p class="font-bold text-3xl text-center">How it Works? 20 Level Profit Amplifier Example</p>

        <div class="image flex flex-row justify-center">
            <img class="w-[70%]" src="assets/images/how-it-works.png" alt="">
        </div>
    </div>
</section>

<section class="mb-10">
    <div class="container">
        <div class="left-text flex flex-col gap-1">
            <p class="font-bold capitalize text-2xl">payout</p>
            <p class="text-base text-[#374151] font-medium">A Unique AI Driven Payout System that Amplifies profits at each level.
            </p>
        </div>
  

        <div class="mt-32 flex lg:flex-row flex-col gap-4 lg:gap-0 items-center justify-end ">
            <div class=" hidden lg:flex  flex-col gap-2 text-center mr-4">
                <p class="font-bold text-lg">Lowest Initial Trade
                </p>
                <p class="text-lg">USD $3 / Trade
                </p>

                <p class="text-lg">Max Loss is $3 per trade
                </p>
               <div class=" flex flex-row justify-center">
                <button class="capitalize font-medium text-white text-base rounded-md bg-[#6b42dd] py-1 px-3 w-fit">get started</button>
               </div>
            </div>
            <div class="card rounded-t-lg bg-[#f7f8f8] flex flex-col lg:w-[30%] w-[90%]">
                <div class="header flex items-center justify-around py-1 rounded-t-lg bg-[#6b42dd]">
                    <p class="text-white font-medium text-base capitalize">sqx</p>
                    <p class="text-white font-medium text-base capitalize">risk</p>
                    <p class="text-white font-medium text-base capitalize">reword</p>
                </div>

                <div class=" top flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 1</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" under bg-[#f0ecfc] flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 2</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 3</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>


                <div class=" under bg-[#f0ecfc] flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 4</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 5</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" under bg-[#f0ecfc] flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 6</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 7</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>
               
                <div class=" under bg-[#f0ecfc] flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 8</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 9</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" under bg-[#f0ecfc] flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 10</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

            </div>

            <div class="card relative rounded-t-lg lg:bottom-[36px] lg:right-[4px] bg-[#f7f8f8] w-[90%] flex flex-col lg:w-[25%]">
                <div class="header flex items-center justify-around py-1 rounded-t-lg bg-[#6b42dd]">
                    <p class="text-white font-medium text-base capitalize">sqx</p>
                    <p class="text-white font-medium text-base capitalize">risk</p>
                    <p class="text-white font-medium text-base capitalize">reword</p>
                </div>

                <div class=" top flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 1</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" under bg-[#f0ecfc] flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 2</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 3</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>


                <div class=" under bg-[#f0ecfc] flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 4</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 5</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" under bg-[#f0ecfc] flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 6</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 7</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>
               
                <div class=" under bg-[#f0ecfc] flex items-center justify-around lg:py-2 py-1 ">
                    <p class="text-black font-bold text-base capitalize">level 8</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" top flex items-center justify-around lg:py-2 py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 9</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

                <div class=" under bg-[#f0ecfc] flex items-center justify-around py-1  ">
                    <p class="text-black font-bold text-base capitalize">level 10</p>
                    <p class="text-black font-bold text-base capitalize">$3</p>
                    <p class="text-black font-bold text-base capitalize">$3+$2</p>
                </div>

            </div>
        </div>

        
    </div>
</section>
