

<header>
    <div class="container p-4 flex items-center justify-between ">
        <div class="logo w-44">
            <img src="/assets/images/logo.png" alt="">
        </div>

        <!-- large screen -->
        <ul class=" items-center hidden lg:flex md:gap-4 lg:gap-12">
            <li>
                <a routerLink="/" class=" active capitalize font-medium text-sm">home</a>
            </li>

            <li>
                <a routerLink="/whats-difference" class="capitalize font-medium text-sm">what's defferent?</a>
            </li>

            <li>
                <a routerLink="/trading-platform" class="capitalize font-medium text-sm">trading platform</a>
            </li>

            <li>
                <a routerLink="/about" class="capitalize font-medium text-sm">about us</a>
            </li>

            <li>
                <a routerLink="/faq" class="uppercase font-medium text-sm">faq</a>
            </li>

            <li>
                <a routerLink="/contact-us" class="capitalize font-medium text-sm">contact us</a>
            </li>
            
          
            
        </ul>

        <!-- small screen -->
        
        
            <img class="cursor-pointer w-[13%] mb-3 "  (click)="SidenavOpen()" src="/assets/images/icons8-menu-50.png" alt="">
      
    </div>
</header>

