<section class="mt-10 mb-10">
    <div class="container">
        <div class="content gap-8 flex md:flex-row flex-col-reverse items-center justify-between">
            <div class="flex flex-col gap-2">
                <p class="capitalize text-black font-bold text-4xl lg:text-5xl">about us</p>
                <p class="font-bold text-xl lg:text-2xl ">One of the most innovative and quickly expanding trading platforms.</p>
                <p class="font-bold text-2xl  ">Nothing else like it exists.</p>
                <p class="text-[#9fa6af] text-base">To accommodate today's busy traders, novices and specialists, we created SequeX Trading. Delivering the most simple, rewarding, and low-maintenance trading experience ever.</p>  
            </div>

            <img class="md:w-[45%] " src="assets/images/about-1.png" alt="">
        </div>
    </div>
</section>

<section class="mt-10 mb-10">
    <div class="container">
        <div class="content gap-8 flex md:flex-row-reverse flex-col-reverse items-center justify-between">
            <div class="flex flex-col gap-2">
                <p class="text-base">
                  <span class="font-bold">SequeX Trading</span> is a low-risk investment strategy that boosts profits by utilizing the exponential returns produced by a series of profitable trades. A 20-trade sequeX is entered by investors with a small base capital. A pre-fixed-pip movement either way initiates a trade, and a correct prediction continues the trading cycle. Returns can be exponentially multiplied by a series of profitable trades. The product is strictly governed and complies with all national and international laws. Mobile phone apps (IOS, Android) are available for SequeX Trading.
                </p>
            </div>

            <img class="md:w-[45%] " src="assets/images/about-2.png" alt="">
        </div>
    </div>
</section>

<section class="mt-20">
    <div class="container">
      <swiper-container #swiperRef [options]="SwiperConfig" navigation="true" loop="true">
        <swiper-slide >
          <div class="box relative mt-20 mb-20">
            <div
              class="top-info flex flex-row justify-center text-center text-xl"
            >
              <div>
                When my earnings began to quickly <br />
                increase, I was very captivated! It initially <br />
                felt incredibly unbelievable due to its <br />
                impressive simplicity, but it's genuinely <br />
                that remarkable.
              </div>
            </div>
            <img
              class="absolute mb-10 right-0 bottom-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <img
              class="absolute mb-10 left-0 top-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <div
              class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
            >
              <img
                class="w-[100%] rounded-full"
                src="/assets/images/avatar-11.jpg"
                alt=""
              />
            </div>
            <div class="text-center mt-3">
              <p class="capitalize font-bold text-xl mb-0">
                ivan petrove <br />
                <span class="font-normal text-lg">new trader</span>
              </p>
            </div>
          </div>
        </swiper-slide>
  
        <swiper-slide>
          <div class="box relative mt-20 mb-20">
            <div
              class="top-info flex flex-row justify-center text-center text-xl"
            >
              <div>
                This platform is a game-changer. The <br />
                concept it's built on is genuinely unique <br />
                and it pulls you in, no matter what level <br />
                you're at.
              </div>
            </div>
            <img
              class="absolute mb-10 right-0 bottom-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <img
              class="absolute mb-10 left-0 top-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <div
              class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
            >
              <img
                class="w-[100%] rounded-full"
                src="/assets/images/avatar-17.jpg"
                alt=""
              />
            </div>
            <div class="text-center mt-3">
              <p class="capitalize font-bold text-xl mb-0">
                benjamin foster <br />
                <span class="font-normal text-lg">experienced trader</span>
              </p>
            </div>
          </div>
        </swiper-slide>
  
        <swiper-slide>
          <div class="box relative mt-20 mb-20">
            <div
              class="top-info flex flex-row justify-center text-center text-xl"
            >
              <div>
                When my earnings began to quickly <br />
                increase, I was very captivated! It initially <br />
                felt incredibly unbelievable due to its <br />
                impressive simplicity, but it's genuinely <br />
                that remarkable.
              </div>
            </div>
            <img
              class="absolute mb-10 right-0 bottom-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <img
              class="absolute mb-10 left-0 top-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <div
              class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
            >
              <img
                class="w-[100%] rounded-full"
                src="/assets/images/avatar-11.jpg"
                alt=""
              />
            </div>
            <div class="text-center mt-3">
              <p class="capitalize font-bold text-xl mb-0">
                ivan petrove <br />
                <span class="font-normal text-lg">new trader</span>
              </p>
            </div>
          </div>
        </swiper-slide>
  
        <swiper-slide>
          <div class="box relative mt-20 mb-20">
            <div
              class="top-info flex flex-row justify-center text-center text-xl"
            >
              <div>
                This platform is a game-changer. The <br />
                concept it's built on is genuinely unique <br />
                and it pulls you in, no matter what level <br />
                you're at.
              </div>
            </div>
            <img
              class="absolute mb-10 right-0 bottom-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <img
              class="absolute mb-10 left-0 top-[-50px]"
              src="/assets/images/icons8-quote-50.png"
              alt=""
            />
            <div
              class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
            >
              <img
                class="w-[100%] rounded-full"
                src="/assets/images/avatar-17.jpg"
                alt=""
              />
            </div>
            <div class="text-center mt-3">
              <p class="capitalize font-bold text-xl mb-0">
                benjamin foster <br />
                <span class="font-normal text-lg">experienced trader</span>
              </p>
            </div>
          </div>
        </swiper-slide>
  
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper-container>
    </div>
  </section>