<footer class="bg-[#382974] pt-10 pb-3">
    <div class="container">
        <div class=" content relative pb-5 grid lg:grid-cols-3 grid-cols-1 items-start gap-6">
            <div class="left flex flex-col gap-3">
               <div class="logo">
                <img class="w-[50%]" src="assets/images/footer-logo.png" alt="">
               </div>

               <div>
                <p class="text-[#9ca2a5b2] text-[1rem]">
                    Trading Made Quick & Easy for Novices and Professionals! Reduce risk while increasing trading potential!
                </p>
               </div>

               <div class="flex flex-row items-center gap-2">
                    <img class="w-6" src="assets/images/icons8-letter-50.png" alt="">
                    <p class="  text-[#9ca2a5b2] text-base">ops@sequex.co</p>
               </div>
            </div>
            <div class="center flex flex-col gap-3">
                <p class="font-bold capitalize text-lg text-white">about</p>
                
                <div class="links flex flex-col gap-1">
                    <a href="" class="capitalize text-[#9ca2a5b2] text-base">about company</a>
                    <a href="" class="capitalize text-[#9ca2a5b2] text-base">privacy policy</a>
                    <a href="" class="capitalize text-[#9ca2a5b2] text-base">terms of use</a>
                    <a href="" class="capitalize text-[#9ca2a5b2] text-base">FAQ</a>
                    <a href="" class="capitalize text-[#9ca2a5b2] text-base">contact us</a>
                </div>
            </div>

            <div class="right flex flex-col  gap-2">
                <p class="font-bold capitalize text-lg text-white">trading platforme</p>
                
                <div class="links flex flex-col gap-1">
                    <a href="" class="capitalize text-[#9ca2a5b2] text-base">mobile app</a>
                </div>
            </div>
          
        </div>

        <div class="flex flex-row lg:justify-end justify-center mt-3">
            <p class="text-base text-[#9ca2a5b2] ">
                © 2023. All rights reserved for SequeX Trading.
            </p>
        </div>
    </div>
</footer>