<section class="hero mt-10">
  <div
    class="container relative flex flex-col-reverse md:flex-row items-center justify-between"
  >
    <div class="text-left flex flex-col gap-2">
      <p class="uppercase font-bold text-3xl lg:text-5xl">
        the next big thing in <br />
        trading
      </p>
      <span class="font-bold text-2xl lg:text-3xl">20 steps to $1,000,000</span>
      <p style="color: #444151" class="capitalize text-lg">
        quick and easy trading platform for novices and profissionals! <br />
        maximum patential with minimal inverstment & efforts!
      </p>
      <button
        class="capitalize w-fit bg-[#6b42dd] text-white font-medium rounded-lg py-4 px-6 flex"
      >
        get started
      </button>
    </div>

    <div class="md:w-[30%]">
      <img class="max-w-full" src="/assets/images/home-hero.png" alt="" />
    </div>
  </div>
</section>

<section class="mt-40">
  <div class="container">
    <swiper-container #swiperRef [options]="SwiperConfig" loop="true">
      <swiper-slide>
        <div class="box relative mt-20 mb-20">
          <div
            class="top-info flex flex-row justify-center text-center text-xl"
          >
            <div>
              When my earnings began to quickly <br />
              increase, I was very captivated! It initially <br />
              felt incredibly unbelievable due to its <br />
              impressive simplicity, but it's genuinely <br />
              that remarkable.
            </div>
          </div>
          <img
            class="absolute mb-10 right-0 bottom-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <img
            class="absolute mb-10 left-0 top-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <div
            class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
          >
            <img
              class="w-[100%] rounded-full"
              src="/assets/images/avatar-11.jpg"
              alt=""
            />
          </div>
          <div class="text-center mt-3">
            <p class="capitalize font-bold text-xl mb-0">
              ivan petrove <br />
              <span class="font-normal text-lg">new trader</span>
            </p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="box relative mt-20 mb-20">
          <div
            class="top-info flex flex-row justify-center text-center text-xl"
          >
            <div>
              This platform is a game-changer. The <br />
              concept it's built on is genuinely unique <br />
              and it pulls you in, no matter what level <br />
              you're at.
            </div>
          </div>
          <img
            class="absolute mb-10 right-0 bottom-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <img
            class="absolute mb-10 left-0 top-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <div
            class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
          >
            <img
              class="w-[100%] rounded-full"
              src="/assets/images/avatar-17.jpg"
              alt=""
            />
          </div>
          <div class="text-center mt-3">
            <p class="capitalize font-bold text-xl mb-0">
              benjamin foster <br />
              <span class="font-normal text-lg">experienced trader</span>
            </p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="box relative mt-20 mb-20">
          <div
            class="top-info flex flex-row justify-center text-center text-xl"
          >
            <div>
              When my earnings began to quickly <br />
              increase, I was very captivated! It initially <br />
              felt incredibly unbelievable due to its <br />
              impressive simplicity, but it's genuinely <br />
              that remarkable.
            </div>
          </div>
          <img
            class="absolute mb-10 right-0 bottom-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <img
            class="absolute mb-10 left-0 top-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <div
            class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
          >
            <img
              class="w-[100%] rounded-full"
              src="/assets/images/avatar-11.jpg"
              alt=""
            />
          </div>
          <div class="text-center mt-3">
            <p class="capitalize font-bold text-xl mb-0">
              ivan petrove <br />
              <span class="font-normal text-lg">new trader</span>
            </p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="box relative mt-20 mb-20">
          <div
            class="top-info flex flex-row justify-center text-center text-xl"
          >
            <div>
              This platform is a game-changer. The <br />
              concept it's built on is genuinely unique <br />
              and it pulls you in, no matter what level <br />
              you're at.
            </div>
          </div>
          <img
            class="absolute mb-10 right-0 bottom-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <img
            class="absolute mb-10 left-0 top-[-50px]"
            src="/assets/images/icons8-quote-50.png"
            alt=""
          />
          <div
            class="image rounded-full p-1 flex w-fit m-auto flex-col justify-center items-center mt-6"
          >
            <img
              class="w-[100%] rounded-full"
              src="/assets/images/avatar-17.jpg"
              alt=""
            />
          </div>
          <div class="text-center mt-3">
            <p class="capitalize font-bold text-xl mb-0">
              benjamin foster <br />
              <span class="font-normal text-lg">experienced trader</span>
            </p>
          </div>
        </div>
      </swiper-slide>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper-container>
  </div>
</section>

<section class="bg-[#694de1] pt-20 pb-20">
  <swiper-container speed="800" loop="true" container-fluid>
    <swiper-slide>
      <div class="container">
        <div
          class="content flex flex-col lg:flex-row items-center justify-between"
        >
          <div class="info flex items-start flex-col gap-3">
            <p class="text-white text-2xl lg:text-5xl font-bold">
              Begin with as little as $3.
            </p>
            <p class="text-[#f6f5fd] text-[17px] font-medium">
              Choose your trade's direction, profit level and off you go…
            </p>
            <button
              class="capitalize font-medium bg-[#6b42dd] px-3 py-2 text-lg text-[#f6f5fd]"
            >
              try it now
            </button>
          </div>

          <img
            class="xs:w-[50%] lg:w-[40%]"
            src="/assets/images/start-min-risk.png"
            alt=""
          />
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="container">
        <div
          class="content flex flex-col lg:flex-row items-center justify-between"
        >
          <div class="info flex items-start flex-col gap-3">
            <p class="text-white text-3xl lg:text-5xl font-bold">
              Multiply Your Profits at Each LeveL
            </p>
            <p class="text-[#f6f5fd] text-[17px] font-medium">
              You move up a Level with each successful trade you make. Profit
              exponentially increases at each level.
            </p>
            <button
              class="capitalize font-medium bg-[#6b42dd] px-3 py-2 text-lg text-[#f6f5fd]"
            >
              try it now
            </button>
          </div>

          <img
            class="xs:w-[50%] lg:w-[40%]"
            src="/assets/images/profits-from-level4.png"
            alt=""
          />
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="container">
        <div
          class="content flex flex-col lg:flex-row items-center justify-between"
        >
          <div class="info flex items-start flex-col gap-3">
            <p class="text-white text-2xl lg:text-5xl font-bold">
              Invest at Your Own Speed and Exit at Any Level
            </p>
            <p class="text-[#f6f5fd] text-[17px] font-medium">
              After a trade is profitable, move on to the next level or cease
              trading to collect your earnings.
            </p>
            <button
              class="capitalize font-medium bg-[#6b42dd] px-3 py-2 text-lg text-[#f6f5fd]"
            >
              try it now
            </button>
          </div>

          <img
            class="xs:w-[50%] lg:w-[40%]"
            src="/assets/images/exit-at-any-level.png"
            alt=""
          />
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="container">
        <div
          class="content flex flex-col lg:flex-row items-center justify-between"
        >
          <div class="info flex items-start flex-col gap-3">
            <p class="text-white text-2xl lg:text-5xl font-bold">
              Open Many SequeXes at the same time
            </p>
            <p class="text-[#f6f5fd] text-[17px] font-medium">
              Expand your chances while simultaneously reducing your risk.
            </p>
            <button
              class="capitalize font-medium bg-[#6b42dd] px-3 py-2 text-lg text-[#f6f5fd]"
            >
              try it now
            </button>
          </div>

          <img
            class="xs:w-[50%] lg:w-[40%]"
            src="/assets/images/multiple-sequences.png"
            alt=""
          />
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>

<section class="pt-20 pb-10">
  <div class="container">
    <p class="text-center capitalize font-bold text-3xl">
      traditional vs sequeX trading
    </p>
    

    <div class="cards mt-20 flex flex-wrap flex-row gap-24 lg:gap-0 justify-center lg:justify-end items-center">

      <div class="card flex flex-col gap-4 pl-8 rounded-xl py-8 w-[430px]">
        <div class="card-title">
          <p class="font-bold text-4xl">traditional <br> trading</p>
          <span class="font-bold text-lg"
            >If the market went against position, <br> $500 might easily be
            lost.</span
          >
        </div>
        <div class="card-info flex flex-col mt-2  gap-2">
          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-close-48.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>

          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-close-48.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>

          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-help-26.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>

          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-close-48.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>


        </div>
      </div>
      <div class="card flex flex-col gap-4 py-8  pl-8 h-full w-[400px] rounded-xl relative bottom-[39px] lg:right-10">
        <div class="top mb-10 w-full flex flex-row justify-between">
          <img class="w-[30%]" src="assets/images/logo-square.png" alt="">
          <img class="w-[60%] absolute right-0 top-[-40px]" src="assets/images/cup.png" alt="">
        </div>
        <span class="text-lg font-bold">$500 might give you up to 3000 transactions to maximize earnings
        </span>
        <div class="card-info flex flex-col mt-2  gap-3">
          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-verified-check-circle-for-approved-valid-content-24.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>

          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-verified-check-circle-for-approved-valid-content-24.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>

          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-verified-check-circle-for-approved-valid-content-24.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>

          <div class="flex flex-row items-center gap-3">
            <img class="w-5" src="assets/images/icons8-verified-check-circle-for-approved-valid-content-24.png" alt="" />
            <span>Requires Trading Experience</span>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-10 mb-20">
  <div class="container">
    <p class="text-center capitalize font-bold text-3xl">
          you're in control
    </p>
    <div class="content mt-20">

      <div class="flex lg:flex-nowrap gap-10 flex-wrap flex-row items-center  ">
        <div class=" first flex flex-row items-center">
            <div class="flex flex-col gap-2">
              <p class="font-bold text-xl">Simple Entry and Exit</p>
              <p class="text-lg w-[90%]">
                Trade now and cash out any profits whenever you choose. Using different payment methods, quick deposits and withdrawals.
              </p>

              <div class="flex flex-row justify-center gap-8">
                  <img class="w-14" src="assets/images/visa-card.png" alt="">
                  <img class="w-14" src="assets/images/wire-transfer.png" alt="">
                  <img class="w-14" src="assets/images/cryptocurrency.png" alt="">
              </div>
            </div>

            <div class="image">
                <img class="lg:w-[90%]" src="assets/images/deposit.png" alt="">
            </div>

        </div>

        <div class="second flex items-center flex-row mb-[50px]">
          <div class=" flex flex-col gap-8">
            <div>
              <p class="text-xl font-bold">Easy trading on the move</p>
              <a href="" class="capitalize underline text-lg text-[#6b42dd]">get started</a>
            </div>
            <p class="text-lg">
              Using your app trade from the workplace, home, gym, or even your car. Never miss a chance.
            </p>
          </div>

          <div class="image">
              <img class="w-[90%]" src="assets/images/chart-3d.png" alt="">
          </div>
        </div>

      </div>

      <div class="flex flex-row  justify-between items-center gap-8 mt-12">
        <div class="flex flex-col gap-1">
            <p class="capitalize font-bold text-xl">Trades Made Simple</p>
            <p class="font-normal text-base text-[#374151]">To reduce your risk, we handled the trade's specifics. Pre-set take profit and stop loss limits threshold for winning or losing</p>
            <a href="" class=" text-lg mb-2 text-[#6b42dd]">learn more</a>
            <p class=" text-base text-[#374151]">To ensure high liquidity, low volatility, and minimal distraction, all trades are executed on EUR/USD</p>
        </div>
       
         <img class="w-[30%] lg:w-[15%]  " src="assets/images/smart-board.png" alt="">
     
      </div>

      <div class="flex lg:flex-nowrap mt-12 gap-10 flex-wrap flex-row items-center  ">
        <div class=" first flex flex-row items-center">
            <div class="flex flex-col gap-2">
              <p class="font-bold text-xl">First Time? No issues
              </p>
              <p class="text-lg w-[90%]">
                TUse our AI-Driven market insights powered by MagusAI to make more informed decisions.
              </p>

            </div>

            <div class="image w-full ">
                <img class="lg:w-[70%] w-[100%]" src="assets/images/mobile-hand.png" alt="">
            </div>

        </div>

        <div class="second flex items-center flex-row mb-[20px]">
          <div class=" flex flex-col gap-8">
            <div>
              <p class="text-xl font-bold">Easy onboarding
              </p>
            </div>
            <p class="text-lg">
              Sign up and finish our automatic KYC process to validate your account in 10 minutes.
            </p>
          </div>

          <div class="image">
              <img class="w-[70%] ml-10" src="assets/images/money-cash.png" alt="">
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<section class="mt-10 mb-20 bg-[#382974]">
  <div class="container pt-10 pb-5">
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-6 lg:gap-0">
        <div class="info col-span-2 flex flex-col gap-5">
              <div class="top flex flex-col gap-2">
                <p class="font-bold lg:text-3xl text-xl text-white">Easy and secure, begin your first SequeX</p>
                <p class="text-[#868da6] lg:text-lg text-base">We prioritize protecting your data privacy.</p>
              </div>

              <div class="center flex flex-col gap-4">
                <div class="flex flex-row items-center gap-3  py-7">
                    <div class="number rounded-md bg-[#ffe8bc] px-8 py-5 ">
                      <span class=" text-[#ffbf13] text-2xl  ">1</span>
                    </div>
                    <div class="text flex flex-col gap-1 mb-3">
                      <p class="text-white font-bold text-xl">sign up</p>
                      <p class="text-[#868da6] text-sm font-medium">We utilize cutting-edge data encryption</p>
                    </div>
                </div>

                <div class="flex flex-row items-center gap-3  py-7">
                  <div class="number rounded-md bg-[#e4dbff] px-8 py-5 ">
                    <span class=" text-[#6b42dd] text-2xl  ">2</span>
                  </div>
                  <div class="text flex flex-col gap-1 mb-3">
                    <p class="text-white font-bold text-xl">Authenticate yourself
                    </p>
                    <p class="text-[#868da6] text-sm font-medium">We never divulge your personal data.
                    </p>
                  </div>
              </div>


              <div class="flex flex-row items-center gap-3  py-7">
                <div class="number rounded-md bg-[#aeffe3] px-8 py-5 ">
                  <span class=" text-[#6eaf7e] text-2xl  ">3</span>
                </div>
                <div class="text flex flex-col gap-1 mb-3">
                  <p class="text-white font-bold lg:text-xl text-base ">Fund your account and begin trading.
                  </p>
                  <p class="text-[#868da6] text-sm font-medium">Industry standards safeguard your money.</p>
                </div>
            </div>
                
            </div>

            <button class="text-white w-fit bg-[#6b42dd] font-medium rounded-lg text-lg py-3 px-5">start now</button>
        </div>

        <div class="image flex flex-row justify-center lg:justify-end">
          <img class="w-[80%]" src="assets/images/app.png" alt="">
        </div>
    </div>

  </div>
</section>

<section class="mt-10 mb-20">
  <div class="container">
    <p class="text-center capitalize font-bold text-3xl">
      Who Can Use SequeX Trading
    </p>

    <div class=" using mt-14 grid lg:grid-cols-3 grid-cols-1 gap-6">
        <div class="box p-6 rounded-lg  relative flex flex-col gap-1">
          <div class="image-nocive">
            <img class="w-14" src="assets/images/novice-traders.png" alt="">
          </div>
          <div>
            <span class="font-bold text-black text-lg">Beginner traders
            </span>
          </div>
          <div>
            <p>SequeX is ideal for people who want to begin trading with little capital and a short learning curve because it is simplified with pre-set trading parameters.

            </p>
          </div>
        </div>

        <div class="box p-6 rounded-lg  relative flex flex-col gap-1">
          <div class="image-nocive">
            <img class="w-14" src="assets/images/busy-traders.png" alt="">
          </div>
          <div>
            <span class="font-bold text-black text-lg">Active Traders

            </span>
          </div>
          <div>
            <p>You only need to enter a sequeX and let SequeX do the work for you if you don't have the time to constantly monitor market activity and enter and exit trades.
            </p>
          </div>
        </div>

        <div class="box p-6 rounded-lg  relative flex flex-col gap-1">
          <div class="image-nocive">
            <img class="w-14" src="assets/images/professional-traders.png" alt="">
          </div>
          <div>
            <span class="font-bold text-black text-lg">Trading Professionals
            </span>
          </div>
          <div>
            <p>Check out the Payout schedule to see how SequeX may help you advance from one level to the next with substantial returns if you know when to enter the market.
            </p>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="mt-10 mb-20">
  <div class="container">
    <p class="text-center capitalize font-bold text-3xl">
      Still have questions for us?
    </p>

    <div class="content mt-10 flex flex-col gap-10 ">
      <div class="flex flex-col gap-2 px-14">
        <p class="text-lg font-bold text-black">
          What’s is the maximum trade size I can start my sequeX with?
        </p>
        <p class="text-base">
          To reduce your risk and allow profits to algorithmically amplify at each level, we capped the maximum size of the trade entry for each new sequeX at $30.
        </p>
      </div>

      <div class="flex flex-col gap-2 px-14">
        <p class="text-lg font-bold text-black">
          How fast can my profits be withdrawn?

        </p>
        <p class="text-base">
          Money can be withdrawn at anytime, after the sequeX profits are booked, through the same funding method you chose for your account funding.
        </p>
      </div>

      <div class="flex flex-col gap-2 px-14">
        <p class="text-lg font-bold text-black">
          What really defines the winning level?

        </p>
        <p class="text-base">
          Depending on the pip size you choose when opening your sequence it will be either at +5, +10, +15. +20 pips.
        </p>
      </div>

      <div class="flex flex-col gap-2 px-14">
        <p class="text-lg font-bold text-black">
          Can I open more than one sequeX at the time?

        </p>
        <p class="text-base">
          You can open multiple sequeXes at the same time and maximize your chances of winning.


        </p>
      </div>

      <div class="flex flex-col gap-2 px-14">
        <p class="text-lg font-bold text-black">
          Can I close an active trade?

        </p>
        <p class="text-base">
          You cannot close an active trade. If you win the current level you can either continue in the sequeX or book your profits.
        </p>
      </div>

      <div class="btns flex flex-wrap lg:px-14 lg:flex-nowrap gap-2">
        <button class="capitalize   bg-[#00004b] text-white py-2 px-3 rounded-lg lg:text-base text-sm">more answares to your questions</button>
        <button class="capitalize  bg-[#6b42dd] text-white py-2 px-3 rounded-lg lg:text-base text-sm">start earning today</button>
      </div>
    </div>
  </div>
</section>

<section class="mt-10 mb-20">
  <div class="container">
    <p class="text-center capitalize font-bold lg:text-3xl text-2xl">
      Please Do not hesitate to contact us
    </p>


    <div class="content mt-10 grid lg:grid-cols-2 grid-cols-1 gap-4">
        <form class="w-full flex flex-col gap-5">
            <input type="text" class="p-4 bg-[#b4d4e60c] rounded-lg text-lg" placeholder="Full Name">
            <input type="text" class="p-4 bg-[#b4d4e60c] rounded-lg text-lg" placeholder="Email Adress">
            <input type="text" class="p-4 bg-[#b4d4e60c] rounded-lg text-lg" placeholder="Phone Number">
            <textarea placeholder="Message" class="p-4 bg-[#b4d4e60c] rounded-lg text-lg" name="" id="" cols="10" rows="3"></textarea>
            <button class="py-2 px-4 capitalize text-white bg-[#6b42dd] w-fit rounded-lg text-lg">let's talk</button>
        </form>

        <div class="flex flex-col gap-2">
          <p class="capitalize text-lg font-bold">email</p>
          <p class="w-[80%] text-lg">Our support team will get back to in 48-h during standard business hours.</p>
          <a href="" class="text-[#6b42dd] text-lg">ops@sequex.co</a>
        </div>
    </div>
  </div>
</section>


