<section class="mt-10 mb-10">
    <div class="container">
        <div class="content flex md:flex-row flex-col-reverse gap-2 justify-between items-center">
            <div>
                <p class="font-bold uppercase text-6xl">faq</p>
            </div>
            
            <img class="md:w-[36%]" src="assets/images/faq.png" alt="">
        </div>
    </div>
</section>

<section class="mt-10 mb-10">
   <div class="container">
    <div class="content flex flex-col gap-5">
        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">Can I close a SequeX and book profit?
            </p>
            <p class="text-base">Yes, you can stop and withdraw your funds anytime you desire.
            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">Can I close an active trade?

            </p>
            <p class="text-base">You cannot close an active trade. If you win the current level you can either continue in the sequeX or book your profits.
            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">Can I open more than one SequeX at a time?

            </p>
            <p class="text-base">You can open multiple SequeX at the same time and maximize your chances of winning


            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">Can I refer friends and traders I know and make commissions?

            </p>
            <p class="text-base">Yes, we have a very generous referral and partnership programs. Please contact us.


            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">How can I withdraw my profits?

            </p>
            <p class="text-base">You can withdraw your profits through the same funding method you chose for funding your account.


            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">How fast can my profits be withdrawn?

            </p>
            <p class="text-base">Money can be withdrawn at any time, after the sequeX profits are booked, through the same funding method you chose for account funding.


            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">Is SequeX Trading safer than Forex?

            <p class="text-base">It is safer when it comes to probability, for example, if you deposited $500 in SequeX Trading, you get to trade 33 times, while in forex, your equity can be lost in 1 or 2 or 5 trades, depending on many factors.
            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">Is SequeX Trading similar to Binary Options?

            </p>
            <p class="text-base">No, SequeX Trading is neither like nor like Binary Options, it’s pure forex with a different backend structure.


            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">Is trading done in a certain timeframe like Binary Option?

            </p>
            <p class="text-base">Yes, you can stop and withdraw your funds anytime you desire.
            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">What is SequeX Trading?

            </p>
            <p class="text-base">Yes, you can stop and withdraw your funds anytime you desire.
            </p>
        </div>

        <div class="flex flex-col gap-2">
            <p class="text-xl font-bold text-black">What is the difference between SequeX Trading and Regular Forex Trading?

            </p>
            <p class="text-base">Yes, you can stop and withdraw your funds anytime you desire.
            </p>
        </div>


    </div>
   </div>
</section>